*{
	font-family: sans-serif;
}

:root{
	--screen-height: 95vh;
	font-size: 16px;
}

.not-in-mobile{
	display:none;
}

body{
	background-color: #f3f5fc;
}
button{
	display: block;
}

#logo-container, #input-container, #output-container {
	/*border: solid black 1px;*/
}

#logo-container{
	height: 8vh;
}
#input-container{
	height: 50vh;
}

textarea{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	resize: none;
	min-width: 90%;
	height: 50%;
}

#input-container ::placeholder{
	color: #0a3871;
	font-size: 5em;
	font-weight: 500;
}

#input-container p{
	font-size: 2em;
}

button{
	height: 8vh;
	width: 90vw;
	margin: auto;
	border-radius: 50px;
	border: 2px solid #0a3871;
	font-size: 3em;
}

#btn1{
	background-color: #0a3871;
	color: #f3f5fc;
	margin-bottom: 2.5vh;
}

#btn2{
	background-color: rgba(0,0,0,0);
	color: #0a3871;
}

#output-container{
	height: 40vh;
}

#text-wrapper{
	font-size: 4rem;
	height: 80%;
	width: 85%;
	margin: 10% auto;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: 0px 40px 50px 10px #CED4DA;
}

#output-p1{
	font-weight: 600;
	margin-bottom: 0;
}

#output-p2{
	font-size: 2.5rem;
	margin-top: 0;
}

@media (min-width: 1080px) {
	body{
		display: grid;
		grid-template-rows: 10% 90%;
		grid-template-columns: 70% 30%;
		grid-template-areas:	"logo out"
								"in out";
	}

	.not-in-mobile{
		display:block;
	}
	
	.container{
		margin: 0;
	}
	
	#logo-container{
		grid-area: logo;
		height: 9vh;
	}
	
	#input-container{
		grid-area: in;
		height: 88vh;
		font-size: 2rem;
	}
	
	#input-container ::placeholder{
		color: #0a3871;
		font-size: 2rem;
		font-weight: 400;
	}
	
	#output-container{
		grid-area: out;
		height: 98vh;
	}
	
	textarea{
		width: 60%;
		min-width: 60%;
		height: 70%;
		margin-top: 5%;
		margin-left: 25%;
	}

	#input-container p{
		font-size: 0.7rem;
		width: 60%;
		margin-left: 25%;
	}
	
	#button-container{
		width: 60%;
		margin-left: 25%;
		display: flex;
		justify-content: space-evenly;
	}

	button{
		height: 5vh;
		width: 25vw;
		font-size: 1rem;
	}

	#btn1, #btn2{
		margin: 0;
	}
	
	#btn2{
		background-color: #d8dfe8;
	}

	#text-wrapper{
		font-size: 1rem;
		height: 95%;
		width: 95%;
		margin: 5% auto;
		background-color: white;
		border-radius: 50px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0px 40px 50px 10px #CED4DA;
	}
	
	.out-img{
		height: 40%;
		width: 75%;
		margin: 0 auto;
	}
	
	#text-wrapper p{
		width: 70%;
	}

	#output-p1{
		font-size: 2rem;
		font-weight: 600;
		margin: 7% auto;
	}

	#output-p2{
		font-size: 1.5rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.hidden{
	display:none;
}